*.out
*.obj
*.a*
*.so*
*.pyc
*.DS_store
*.o

# ignore ssl certificates and pkey files
*.crt
*.key

# ignore the created distributor.c files, in any port of the project
**/distributer.c

# serc server that we build for sample is named serc
bin/serc

# this is the test client
test_client